.FormElement {
  padding: 8px;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  /* display: block; */
  width: 350px;
  font-size: 1rem;
  /* font: inherit; */
  border-radius: 5px;
  /* border: 8px solid inherit; */
}

.react-datepicker__input-container,
.react-datepicker__input-container input {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
}

.TextError {
  margin-left: 14px;
  margin-right: 14px;
  font-size: 0.75rem;
}

input.dateOfBirthOption {
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
input.dateOfBirthOption:focus,
input.dateOfBirthOption:active {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 350px;
}

p.terms {
  clear: both;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 0 24px;
}

.Signup__Form--Btn {
  background-color: #000;
  border: 1px solid #000;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 15px;
  font-weight: 100;
  margin: auto;
  width: 96%;
}

.text__Signup__Form{
  display: inline-block;
  margin: 5px 0;
  position: relative;
  width: 100%;
}