.checkoutStepsActive {
    text-decoration: none;
    color: rgb(5, 5, 5);
    font-size: 1.1rem;
    font-weight: 600;
}
.checkoutStepsDisabled {
    text-decoration: none;
    color: rgb(165, 165, 165);
}