.registration__Form {
    background-color: #fff;
    color: #8d8d8d;
    font-family: Helvetica;
    font-size: 14px;
    margin: auto;
    max-width: 380px;
    padding: 28px;
    text-align: left;
}

.nike-logo-registration-page {
    margin: 0 auto;
    max-width: 25ch;
    text-align: center;
}

.view-header {
    font-family: "Pathway Gothic One",Helvetica, sans-serif;
    color: #111;
    font-size: 28px;
    line-height: 26px;
    margin: 0 auto;
    max-width: 25ch;
    padding: 32px 0 26px;
    text-align: center;
    font-weight: 700;
    font-stretch: extra-expanded;  
}

.view-sub-header {
    font-family: "HelveticaNeue",Helvetica;
    line-height: 22px;
    font-weight: 400;
    padding-bottom: 27px;
    text-align: center;
    text-transform: none;
}