.menu-drawer {
  height: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgb(182, 182, 182);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.show {
  width: 350px;
}
.hide {
  width: 0;
}
