.menuDrawer {
  height: 100%;
  position: fixed;
  z-index: 10000000000;
  top: 0;
  right: 0;
  background-color: rgb(238, 238, 238);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.6s ease-out; /* 0.6 second transition effect to slide in the menudrawer */
}

.show {
  width: 350px;
}
.hide {
  width: 0;
}
