/* Radio Buttons Sizes Styling*/

.product-extra-information {
  list-style-type: none;
  margin: 20px 0 0 0;
  padding: 20px;
  display: flex;
  margin-top: 20px;
}

.selection-radio-btn {
  float: left;
  margin: 0 5px 0 0;
  width: 108px;
  max-height: 115px;
  position: relative;
}

.product-extra-information input .product-extra-information label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-extra-information input[type="radio"] {
  display: none;
  z-index: 100;
}

.product-extra-information input[type="radio"]:checked + label {
  background: rgb(226, 226, 226);
  border: 1px solid;
}

.product-extra-information input[type="radio"]:not(:disabled) + label {
  cursor: pointer;
}

.product-extra-information label {
  height: 48px;
  border-radius: 4px;
  padding: 20px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 90;
}

.product__addition {
  display: inline-block;
  min-width: 100%;
}

button.product__addition.product_add_to_cart,
button.product__addition.product_add_to_whishlist {
  display: block;
  background-color: red !important;
  width: 430px;
}

.product-extra-information label:hover {
  background: #ddd;
}

.productImage__css {
  /* height: 80px;
    width: 30px; */
  margin-right: 20px;
  margin-top: 30px;
}

.productImage__css img {
  max-height: 100%;
  max-width: 100%;
}

.gird__item__4 {
  padding-right: 20px;
}

@media (max-width: 768px) {
  button.product__addition.product_add_to_cart,
  button.product__addition.product_add_to_whishlist {
    padding: 20px;
    margin: 30px;
  }
}

.showWarning {
  border: 2px solid #d43f21;
  border-radius: 4px;
}

.product-to-cart-modal {
  /* position: absolute; */
  top: 100px;
  left: 100px;
  display: flex;
  /* max-width: 400px; */
  align-items: center;
  justify-content: center;
  /* width: 400px; */
}
.product-info-in-modal {
  display: flex;
  z-index: 1400;
  width: 400px;
  background-color: rgba(255,255,255,1);
  padding: 0 20px;
}
.product-btns-in-modal {
  display: flex;
  z-index: 1400;
  width: 400px;
  background-color: rgba(255,255,255,1);
  padding: 5px 20px 15px;
  justify-content: center;
}
.product-addition-verified-in-modal {
  display: flex;
  z-index: 1400;
  text-align: center;
  width: 400px;
  /* font-size: 18px; */
  background-color: rgba(255,255,255,1);
  padding: 15px 20px;
}
.product_cart_info{
  display: block;
  min-width: 80%;
}

.product-to-cart-modal>div {
  z-index: 100;
}

.modal_btn {
    display: block;
    justify-content: center;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    min-width: 120px;
    font-size: 16px;
    padding: 15px;
    border-radius: 43px;
    font-family: arial;
    /* border: 2px solid #000; */
    margin: 0 6px;
}
.modal_btn > a {
    text-decoration: inherit;
    color: inherit;
}

.view_bag_modal {
  background-color: white;
  color: black;
}
.checkout_modal {
  background-color: black;
  color: white;
}

input[type="radio"] {
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200ms;
  font-size: 1.9rem;
}