.productStyle:nth-child(3n+1) {
    margin-right: 0px;
    margin-left: 3px;
} 

@media (max-width: 639px), (max-width: 1023px) and (min-width: 640px){
    .productsInCategory > .productIteminCategory:nth-of-type(2n+1) {
    padding-right: 3px;
    padding-left: 0px;

}
    .productsInCategory > .productIteminCategory:nth-of-type(2n) {
    padding-right: 0px;
    padding-left: 3px;

}
}