.secondaryHeaderElements {
  padding: 1rem 0;
}

.OpenToggleFilterBar {
  margin: 250px;
}
.CloseToggleFilterBar {
  margin: 0px;
}

/*Container*/
/* 
.effect.container {
  perspective: 1500px;
	perspective-origin: 0% 50%;
}

.effect .leftNavPush {
  transform-style: 300;
}

.effect .navMenuOpen .leftNavPush {
	transform: translate3d(300px, 0, 0);
}

.effect.navMenu {
  transform: translate3d(-100%, 0, 0) rotateY(-90deg);
	transform-origin: 100% 50%;
	transform-style: preserve-3d;
}

.effect.navMenuOpen .effect.navMenu {
	visibility: visible;
	transform: translate3d(-100%, 0, 0) rotateY(0deg);
} */