.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #fdba00;
    border-radius: 4px;
    background: #fdce4d;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover,
  .button:active {
    background: #c29722;
    border-color: #be8f0c;
  }
  
  .button--inverse {
    background: transparent;
    color: #a88010;
  }
  
  .button--inverse:hover,
  .button--inverse:active {
    color: white;
    background: #8d6804;
  }
  
  .button--danger {
    background: #830000;
    border-color: #830000;
  }

  
  .button--danger:hover,
  .button--danger:active {
    background: #f34343;
    border-color: #f34343;
  }

  .button--basic {
    background: #111;
    border-color: #111;
    display: block;
    width: 450px;
    min-width: 100%;
    padding: 18px 24px;
    font-size: 1.2rem;
    border-radius: 30px;
    margin-top: 12px;
  }

  .button--basic:hover,
  .button--basic:active {
    background: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
  }
  
  .button:disabled,
  .button:hover:disabled,
  .button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }
  
  .button--small {
    font-size: 0.8rem;
  }
  
  .button--big {
    font-size: 1.5rem;
  }

  @media (min-width: 768px) {
    .button--basic {
      display: block;
      min-width: 100%;
    }
  }