.ProductsPaddingTop {
  padding: 0 48px;
}

@media(max-width: 640px) {
  .ProductsPaddingTop{
    padding: 0 12px;
  }
  h1.secondaryHeader{
    font-size: 16px;
  }
  .sortBy{
    display: none;
  }
  .filterToggle{
    margin-right: 0;
  }
  div.filterToggleBtn{
    background-color: white;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 15px;
  }
  button.btnToggleFilters{
    font-size: 0.8rem;
    /* background-color: #fff; */
    /* border-radius: 12px; */
  }
  .stickySecondaryHeader {
    box-shadow: 0px 1px #95959536
  }
}

.secondaryHeader {
  display: flex;
  flex: 1 1 0%;
  line-height: 1.3;
  margin: 0;
  align-self: center;
  font-weight: 400;
  font-size: 24px;
  /* padding-top: 1rem; */
}

.stickySecondaryHeader {
  position: sticky;
  top: -1px;
  background-color: #fff;
  z-index: 3;
  /* padding: 0px; */
  /* font-size: 20px; */
}

/* Filter Toggle and SortBy Styling in Secondary Header*/

.secondaryHeaderNav {
  display: inline-flex;
  background: rgb(255, 255, 255);
}

/* Filter Toggle Button Styling */

.filterToggle {
  align-self: center;
  margin-right: 4px;
}

.filterToggleBtn {
  display: flex;
  font-size: 1rem;
  border: 1px solid rgba(0, 0, 0,.1);
  border-radius: 18px;
  background: #ffffff;
}
button.btnToggleFilters:hover, button.btnSortBy:hover {
  background: transparent;
}
/* div.filterToggleBtn:hover {
  background: transparent;
} */

.headerOffset {
  height: 64px;
}

/* SortBy Styling */
.filterToggleBtn:hover,
.sortBy:hover {
  background-color: rgb(250, 250, 250);
}
.sortBy {
  align-self: center;
  /* padding: 8px 6px; */
  border: 1px solid rgba(0, 0, 0,.1);
  border-radius: 18px;
  background: #ffffff;
}
