.ProductsPaddingTop {
  padding: 0 48px;
}

.secondaryHeader {
  display: flex;
  flex: 1 1 0%;
  line-height: 1.3;
  margin: 0;
  align-self: center;
  font-weight: 400;
  font-size: 24px;
  /* padding-top: 1rem; */
}

.stickySecondaryHeader {
  position: sticky;
  top: -1px;
  background-color: #fff;
  z-index: 3;
  /* padding: 0px; */
  /* font-size: 20px; */
}

/* Filter Toggle and SortBy Styling in Secondary Header*/

.secondaryHeaderNav {
  display: inline-flex;
  background: rgb(255, 255, 255);
}

/* Filter Toggle Button Styling */

.filterToggle {
  align-self: center;
}

.filterToggleBtn {
  display: flex;
  font-size: 1rem;
  margin-right: 8px;
  /* padding: 8px 6px; */
  border: 1px solid #ccc;
  background: #f2f2f2;
  vertical-align: middle;
}

.headerOffset {
  height: 64px;
}

/* SortBy Styling */

.sortBy {
  align-self: center;
  /* padding: 8px 6px; */
  border: 1px solid #ccc;
  background: #f2f2f2;
}
