html, body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial,"Pathway Gothic One",  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAKE BUTTON LOOK LIKE A LINK URL*/

.btnLink,
button.btnLink:focus,
button.btnLink:hover,
button.btnLink:active {
  background: none;
  border: none;
  color: #111;
  margin-left: 3px;
  text-decoration: underline;
  cursor: pointer;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}
