.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  transition: 0.5s all;
}

.search-box:hover,
.search-box:focus, .search-box:active {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 300px;
  transition: 0.5s all;
}

.search-input-box::placeholder {
  font-size: 1.1rem;
  font-weight: 100;
  color: #ccc;
}

.search-input-box {
  background-color: rgba(204, 204, 204, 0.077);
  height: 40px;
  font-size: 1rem;
  font-weight: 100;
  width: 100%;
  border-radius: 100px;
  padding-left: 45px;
  outline: none;
  border: none;
  transition: 1s all;
}

input[type="search"]::-webkit-search-cancel-button { /* Remove default [X] in input search box*/
  /* Remove default */
  -webkit-appearance: none;
}

.search-input-box:hover,
.search-input-box:focus,
.search-input-box:active {
  background-color: rgba(202, 202, 202, 0.267);
  height: 40px;
  border-radius: 100px;
  padding-left: 45px;
  outline: none;
  border: none;
  transition: 1s all;
}

.search-icon-button {
  min-height: 38px;
  background-color: transparent;
  padding: 4px 6px 2px 4px;
  z-index: 1;
  border-radius: 100px;
  border: none;
  border-radius: 29px;
  margin-right: -44px;
}

.search-icon-button:hover {
  min-height: 38px;
  background-color: rgb(238, 238, 238);
  padding: 4px 6px 2px 4px;
  z-index: 1;
  border-radius: 100px;
  border: none;
  border-radius: 29px;
  margin-right: -44px;
}
